@use "../abstracts/colors" as colors;
@use "../abstracts/font" as f;
@use "../abstracts/mediaqueries" as mq;
@use "../abstracts/functions" as fun;

.main {
     min-height: 90vh;
     width: 100%;
     .main__container {
          margin: 0 auto;
          display: grid;
          grid-template-columns: 1fr;
          column-gap: 10px;
          padding: 10px 0;
          width: 80%;
          .section__uno {
               display: flex;
               align-items: center;
               justify-content: center;
               text-align: center;
               width: 100%;
               padding: 5px;
               margin-bottom: 10px;
               background: #808080;
          }
          .section__dos {
               display: flex;
               align-items: center;
               justify-content: center;
               text-align: center;
               width: 100%;
               padding: 5px;
               margin-bottom: 10px;

               background: #808080;
          }
     }
}

@media (min-width: fun.mq("sm")) {
     .main {
          .main__container {
               grid-template-columns: 1fr 1fr;
          }
     }
}

@media (min-width: fun.mq("lg")) {
     .main {
          .main__container {
               grid-template-columns: 1fr 1fr 1fr;
          }
     }
}
@media (min-width: fun.mq("4xl")) {
     .main {
          .main__container {
               grid-template-columns: 1fr 1fr 1fr 1fr;
          }
     }
}
