@use "../abstracts/colors" as colors;
@use "../abstracts/font" as f;
@use "../abstracts/mediaqueries" as mq;
@use "../abstracts/functions" as fun;
.container__products-section {
     width: 80%;
     margin: 0 auto;
}
.main {
     min-height: 90vh;
     width: 100%;
     margin-bottom: 30px;
     .container__main-text {
          width: 80%;
          margin-left: auto;
          margin-right: auto;
     }

     .main__container {
          display: grid;
          column-gap: 10px;
          grid-template-rows: 1fr 1fr;
          grid-template-columns: 1fr;
          margin: 40px auto;
          row-gap: 3rem;
          width: 80%;
     }
}

@media (min-width: fun.mq("sm")) {
     .main {
          .main__container {
               grid-template-columns: 1fr 1fr;
          }
     }
}

@media (min-width: fun.mq("lg")) {
     .main {
          .main__container {
               grid-template-columns: 1fr 1fr 1fr;
          }
     }
}
@media (min-width: fun.mq("4xl")) {
     .main {
          .main__container {
               grid-template-columns: 1fr 1fr 1fr 1fr;
          }
     }
}
