@use "../abstracts/colors" as colors;
@use "../abstracts/font" as f;
@use "../abstracts/mediaqueries" as mq;
@use "../abstracts/functions" as fun;
.container__products-section {
     width: 80%;
     margin: 0 auto;
}
.main {
     min-height: 90vh;
     width: 100%;
     .container__main-text {
          width: 80%;
          margin-left: auto;
          margin-right: auto;
     }

     .main__container {
          display: grid;
          column-gap: 10px;
          grid-template-rows: 1fr, 1fr;
          grid-template-columns: 1fr;
          margin: 40px auto;
          row-gap: 3rem;
          width: 80%;
          .container__product {
               border-radius: 4px;
               box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
               padding: 15px 0;
               overflow: hidden;

               &-img {
                    display: block;

                    margin: 0 auto;
                    width: 95%;
               }
               &-text {
                    border-top: {
                         style: solid;
                         width: 3px;
                         color: rgba(128, 128, 128, 0.356);
                    }
                    border-radius: 8px;
                    color: fun.color("black-01");
                    text-align: center;

                    margin-top: 5px;
               }
          }
          .section__uno,
          .section__dos {
               align-items: center;
               background: #808080;
               display: flex;
               justify-content: center;
               margin-bottom: 10px;
               padding: 5px;
               text-align: center;
               width: 100%;
          }
     }
     .single__product {
          padding: 5px 0 40px 0;
          margin: 40px auto 0 auto;
          width: 250px;

          .single__product-container {
               display: flex;
               flex-direction: column;
               margin: 0 auto;
               overflow: hidden;
               width: 100%;
               .single__container {
                    display: flex;
                    .single__container-imgs {
                         border: 1px solid gray;
                         display: flex;
                         cursor: pointer;
                         height: 5rem;
                         margin: 0 5px;
                         width: 5rem;
                         .much__imgs {
                              height: 100%;
                              margin: 0 auto;
                              width: 50%;
                         }
                    }
                    &__product-img {
                         margin-top: 20px;
                         width: 100%;
                    }
               }
               .single__product-buy {
                    background: fun.color("white-02");
                    border-radius: 5px;
                    border: 2px solid fun.color("black-05");
                    margin-top: 20px;
                    outline: none;
                    cursor: pointer;
               }
          }
     }
}

@media (min-width: fun.mq("sm")) {
     .main {
          .main__container {
               grid-template-columns: 1fr 1fr;
          }
     }
}
@media (min-width: 1023px) {
     .main {
          .single__product {
               .single__product-container {
                    .single__container {
                         flex-direction: column;
                    }
               }
          }
     }
}
@media (min-width: fun.mq("lg")) {
     .main {
          .main__container {
               grid-template-columns: 1fr 1fr 1fr;
          }
          .single__product {
               margin: 40px auto 40px auto;
               width: 356px;
               .single__product-container {
                    .single__container {
                         .single__container-imgs {
                              margin-bottom: 15px;
                              width: 5rem;
                         }
                    }
                    .single__container-description,
                    .single__container-price,
                    .single__product-buy {
                         grid-column: 1/2;
                    }
               }
          }
     }
}
@media (min-width: fun.mq("4xl")) {
     .main {
          .main__container {
               grid-template-columns: 1fr 1fr 1fr 1fr;
          }
     }
}
